.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--black);
  opacity: 0.8;
  backdrop-filter: blur(10px);
}

.modal {
  position: relative;
  padding: var(--spacing-md) var(--gutter);
  margin: 0 auto;
  min-width: 300px;
  max-width: 900px;
  background-color: var(--lighter-gray);
  color: var(--black);
  z-index: 1;
  border-radius: 4px;

  .sk-circle .sk-child:before { background-color: var(--white); }

  .content {
    overflow-y: auto;
    max-height: 60vh;
  }
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 10;
  opacity: 0;
  transition: all 0.1s ease-in-out;
  transform: scale(0);

  &.visible {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-sm);

  .title {
    padding-right: var(--spacing-md);
    padding-bottom: 0;
  }

  .close {
    position: absolute;
    right: 0;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: 1px solid var(--dark-gray);
    border-radius: 50%;

    &:before {
      display: block;
      margin-top: 0.1em;
      content: 'X';
      color: var(--dark-gray);
      font-weight: 600;
    }
  }
}