.btn-primary,
.btn-secondary,
.btn-text,
.btn-warning {
  display: inline-block;
  padding: 0.5em 1em;
  margin: 0;
  margin-right: 0.5em;
  border: 1px solid transparent;
  width: auto;
  overflow: visible;
  -webkit-appearance: none;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  text-decoration: none;
  transition: all ease-in-out 0.3s;

  &:last-child {
    margin-right: 0;
  }

  &.sm {
    font-size: var(--fs-small);
  }
  &.lg {
    font-size: var(--fs-medium);
  }

  &:disabled {
    background-color: gray;
  }
}

.btn-primary {
  border-color: var(--blue);
  background-color: var(--blue);
  color: var(--white);

  &:hover {
    opacity: 0.8;
  }
}

.btn-warning {
  border-color: var(--error);
  background-color: var(--error);
  color: var(--white);

  &:hover {
    opacity: 0.8;
  }
}

.btn-secondary {
  border-color: var(--blue);
  color: var(--blue);

  &:hover {
    background-color: var(--blue);
    color: var(--white);
    opacity: 0.8;
  }
}

.btn-text {
  color: var(--blue);

  &:hover {
    text-decoration: underline;
  }
}

.buttons-wrapper {
  margin-top: calc(var(--gutter) * -1);

  *[class^="btn-"] {
    margin-top: var(--gutter);
  }
}
