:root {
  --brand: salmon;

  --true-black: #000000;
  --black: #16191d;
  --darker-gray: #2c323a;
  --dark-gray: #485361;
  --gray: #748190;
  --light-gray: #aab4c0;
  --lighter-gray: #eaedf0;
  --white: #f9fafb;
  --true-white: #fff;

  --success: #96d03a;
  --error: #ca5555;
}
